<div class="grid col-12 p-fluid">
  <div class="flex align-content-center justify-content-center flex-wrap">

    <p-card class="col-12 md:col-6 lg:col-4 xl:col-3">

      <h2 class="titulo-card" style="background-color: #e40038;">REDE FURACÃO</h2>
      <img class="img-card" src="assets/img/estadio.png" alt="">
      <h4>A PARTIR DE R$14,90/MÊS*</h4>
      <span>FIQUE POR DENTRO DE TUDO SOBRE O </span>
      <span>ATHLETICO COM CONTEÚDOS EXCLUSIVOS</span>
      <ul>
        <li>JOGOS AO VIVO</li>
        <li>COBERTURA DO PRÉ-JOGO </li>
        <li>MELHORES MOMENTOS</li>
        <li>CONTEÚDOS EXCLUSIVOS</li>
      </ul>

      <span style="display: block;">
        Preço com desconto exclusivo para sócios furacão</span>
      <div class="container-img-canto">
        <p-button class="btn-socio" styleClass="bg-red-500 border-none" label="GOSTEI QUERO ME ASSOCIAR"></p-button>
        <img class="img-canto" src="assets/img/atletico-canto.png" alt="">
      </div>
    </p-card>

    <p-card class="col-12 md:col-6 lg:col-4 xl:col-3">

      <h2 class="titulo-card" style="background-color: #9f1016;">SÓCIO FURACÃO RED</h2>
      <img class="img-card" src="assets/img/estadio.png" alt="">
      <h4>A PARTIR DE R$105/MÊS</h4>
      <ul>
        <li>DIREITO A VOTO NAS ELEIÇÕES DO CLUBE</li>
        <li>CLUBE DE VANTAGENS</li>
        <li>DESCONTOS NA LOJA OFICIAL</li>
        <li>PARTICIPAÇÃO EM AÇÕES EXCLUSIVAS</li>
      </ul>


      <div class="container-img-canto">
        <p-button class="btn-socio" styleClass="bg-red-900 border-none" label="GOSTEI QUERO ME ASSOCIAR"></p-button>
        <img class="img-canto" src="assets/img/atletico-canto.png" alt="">

      </div>
    </p-card>

    <p-card class="col-12 md:col-6 lg:col-4 xl:col-3">

      <h2 class="titulo-card" style="background-color: #ffcd01;">SÓCIO FURACÃO GOLD</h2>
      <img class="img-card" src="assets/img/estadio.png" alt="">
      <h4>A PARTIR DE R$175/MÊS</h4>
      <ul>
        <li>DIREITO A VOTO NAS ELEIÇÕES DO CLUBE</li>
        <li>CLUBE DE VANTAGENS </li>
        <li>DESCONTOS NA LOJA OFICIAL</li>
        <li>PARTICIPAÇÃO EM AÇÕES EXCLUSIVAS</li>
        <li>CADEIRA COM NOME EM TODOS OS JOGOS (EXCETO BUENOS AIRES INFERIOR)
        </li>
      </ul>

      <div class="container-img-canto">
        <p-button st class="btn-socio" styleClass="bg-yellow-500 border-none"
          label="GOSTEI QUERO ME ASSOCIAR"></p-button>
        <img class="img-canto" src="assets/img/atletico-canto.png" alt="">

      </div>
    </p-card>

    <p-card class="col-12 md:col-6 lg:col-4 xl:col-3">

      <h2 class="titulo-card" style="background-color: #060606;">SÓCIO FURACÃO BLACK</h2>
      <img class="img-card" src="assets/img/estadio.png" alt="">
      <h4>A PARTIR DE R$405/MÊS</h4>

      <ul>
        <li>DIREITO A VOTO NAS ELEIÇÕES DO CLUBE</li>
        <li>CLUBE DE VANTAGENS </li>
        <li>DESCONTOS NA LOJA OFICIAL</li>
        <li>PARTICIPAÇÃO EM AÇÕES EXCLUSIVAS</li>
        <li>LOUNGE AMBIENTADO</li>
        <li>ACESSO EXCLUSIVO</li>
      </ul>

      <div class="container-img-canto">
        <p-button styleC class="btn-socio" styleClass="bg-black-alpha-80 border-none"
          label="GOSTEI QUERO ME ASSOCIAR"></p-button>
        <img class="img-canto" src="assets/img/atletico-canto.png" alt="">

      </div>
    </p-card>

  </div>
</div>
